@model WebModels.Club
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("Edit", "Club", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.ID)
    <div class="control-group">
        @Html.LabelFor(m => m.ClubName, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.ClubName, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.ClubName)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Type, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(
            m => m.Type,
            new SelectList(new List<SelectListTemp>
                {
                new SelectListTemp { Text="Tennis", Value = (int)TypeClub.Tennis },
                new SelectListTemp { Text="Badminton", Value = (int)TypeClub.Badminton }
                }, "Value", "Text")
            )
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Amount, new { @class = "control-label" })
        <div class="controls">
            @*@Model.Amount*@
            @*<input name="Amount" type="number" value="@Model.Amount" />*@

            @(Html.Kendo().NumericTextBoxFor<decimal>(m => m.Amount)
                 .Min(0)
                 .Value(Model.Amount)
        )
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.QRCode, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.QRCode, new { @class = "input-block-level" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ShareLink, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.ShareLink, new { @class = "input-block-level" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.FacebookRef, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.FacebookRef, new { @class = "input-block-level" })
        </div>
    </div>
    <div class="validation-group">
        <div class="controls">
            @Html.ValidationSummary(true)
        </div>
    </div>


    <div class="form-actions">
        <button class="btn btn-primary" type="submit">@Resources.Common.SaveChanges</button>
    </div>
    @Html.AntiForgeryToken()
}
<script src="/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    function edit_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }

</script>
