<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <link rel="Shortcut Icon" href="~/Content/themes/web/images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="p:domain_verify" content="7d7ee219c972f32def426b39ff579234" />

    <meta name="format-detection" content="telephone=no">
    <title>
        @TempData["Title"]
    </title>
    <meta itemprop="description" name="description" content="@TempData["Description"]">
    <meta itemprop="keywords" name="keywords" content="@TempData["Keywords"]" />

    <meta property="fb:app_id" content="425450817599085">
    <meta property="fb:admins" content="ralphxyz">
    <meta http-equiv="refresh" content="10800">

    <meta property="og:title" content="@TempData["Title"]" />
    <meta property="og:image" itemprop="thumbnailUrl" content="@TempData["Image"]" />
    <meta property="og:description" itemprop="description" content="@TempData["Description"]" />
    <meta property="og:type" content="travel" />
    <meta property="og:site_name" content="TapChiMoiTruong" />
    <meta property="og:url" itemprop="url" content="@TempData["URL"]" />
    <meta property="article:section" content="@TempData["Cat"]" />
    <meta property="article:publisher" content="" />

</head>

<body>
    @RenderBody()
</body>
</html>
